<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cardápio</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/themes/theme1.css}">
</head>
<body id="bodyCardapio" class="bodyGeral">
<nav>
    <div>
        <a th:href="@{/}">home</a>
    </div>
    <div>
        <a th:href="@{/pedidos}">pedidos</a>
    </div>
</nav>
<main>
    <section id="addItemCardapio">
        <h2>Adicionar novo item ao cardapio</h2>
        <form action="#" th:action="@{/itemCardapio}" th:object="${itemCardapio}" method="post">
            <div id="nome">
                <label>Nome: </label>
                <input type="text" th:field="*{nome}">
            </div>
            <div id="componentes">
                <label>Componentes: </label>
                <input type="text" th:field="*{componentes}">
            </div>
            <div id="preco">
                <label>Preço: </label>
                <input type="text" th:field="*{preco}">
            </div>
            <div id="addItem">
                <input type="submit" value="Adicionar ao cardápio">
            </div>
        </form>
    </section>
    <section id="contItensCardapio">
        <h2>Cardapio</h2>
        <div id="itensCardapio" th:each="item : ${todosItens}">
            <div 
                id="item${item.id}" 
                class="item">
                <div 
                    id="nome${item.id}" 
                    class="nome" 
                    th:text="${item.nome}"></div>
                <div 
                    id="componentes${item.id}" 
                    class="componentes" 
                    th:text="${item.componentes}"></div>
                <div 
                    id="preco${item.id}" 
                    class="preco"
                    th:text="${item.preco}"></div>
                <form class="excluir" th:action="@{'apagar/itemcardapio/' + ${item.id}}" method=post>
                    <input type="submit" value="X">
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>
